
@font-face{
    font-family: normal;
    src:url('../fonts/NexaLight.otf');
}

*{
    font-family: normal;
}

a:focus{
  outline: 0;
}


@mixin boxshadow($a,$b,$c,$d) {
  -moz-box-shadow: $a $b $c $d rgba(0,0,0,.6);;
  -webkit-box-shadow: $a $b $c $d rgba(0,0,0,.6);;
  box-shadow: $a $b $c $d rgba(0,0,0,.6);
}

.shadow{
  @include boxshadow(-3px,3px,5px,1px);
}

.raised{
  @include boxshadow(-3px,3px,5px,1px );
}


.trans{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ulstyle{
  list-style: none;
  text-align: left;
}
.listyle{
  text-decoration: none;
  font-size: 1.5rem;
}

ul.menu{
  @extend .ulstyle;
  li{
    @extend .listyle;
    a{
          text-decoration: none;
          color:#fff;
          padding:5px 10px;
          img{
            width:30px;
          }
        }
    a:hover{
          cursor: pointer;
          color: #E53935;
    }
  }

}
ul.datemenu{
  @extend .ulstyle;
  li{
    @extend .listyle;
    img{
      width:30px;
    }
  }
}


h1{
  font-size: 5rem;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.5rem;
}
p{
  font-size: 2rem;
}



.lay{
    position: absolute;
    top:0;
    left:0;
    min-height: 100vh;
    width:100%;
    background-position: fixed;
    background-size: cover;
}
.overlay{
    @extend .lay;
    z-index: -1;
    background: rgba(0,0,0,.7);
}
.front{
    @extend .lay;
    z-index: -2;
    background-image: url('../images/a1.jpg');
}
.back{
    @extend .lay;
    z-index: -3;
    background-image: url('../images/a2.jpg');
}

a.button{
    @extend .trans;
    background-color: #E53935;
    -moz-box-shadow: -3px 3px 5px 1px rgba(0,0,0,.3);;
    -webkit-box-shadow: -3px 3px 5px 1px rgba(0,0,0,.3);;
    box-shadow:-3px 3px 5px 1px rgba(0,0,0,.3);
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
}
a.button:hover{
    background: #dd201c;
}

.loginpage{
  min-height: 100vh;
  padding-top: 75px;
  background-image:url('../images/pattern.png');

}

.table{
  tbody{
    tr{
      td{
        vertical-align: middle;
      }
    }
  }

}

.fic{
  position: relative;
  &:before{
    position: absolute;
  }
}

.articles{
  padding-top: 70px;
}

.card{
  border: 1px solid rgb(136, 127, 130);
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
  background: #AC4D63;
  color:#fff;
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  .small{
    font-size: 2rem;
    width:20px;
    height: 20px;
    color:#fff;
    &:before{
      top:0px;
      left:5px;
    }
  }
  .auth{
    font-size: 1rem;
    width:15px;
    height:15px;
    color:#fff;
    &:before{
      top:0px;
      left:5px;
    }
  }
}




@media (min-width:768px) {
  /* Wrappers */
  .wrapper {
	padding-left: 225px;
  }
  .page-wrapper {
	padding: 15px 25px;
  margin-top: $navbar-height;
  }

  /* Side Nav */
  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: $navbar-height;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #272A33;
	overflow-y: auto;
  }

  /*menu overrides*/
  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #191A1F;
  }
  .side-nav>li>a {
	width: 225px;
  }
  /* Nav Messages */
  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }
  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }
  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}



@media screen and (max-width: 400px){


}
