
@font-face{
    font-family: normal;
    src:url('../fonts/NexaLight.otf');
}

*{
    font-family: normal;
}

a:focus{
  outline: 0;
}


@mixin boxshadow($a,$b,$c,$d) {
  -moz-box-shadow: $a $b $c $d rgba(0,0,0,.6);;
  -webkit-box-shadow: $a $b $c $d rgba(0,0,0,.6);;
  box-shadow: $a $b $c $d rgba(0,0,0,.6);
}

.shadow{
  @include boxshadow(-3px,3px,5px,1px);
}

.raised{
  @include boxshadow(-3px,3px,5px,1px );
}


.trans{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ulstyle{
  list-style: none;
  text-align: left;
}
.listyle{
  text-decoration: none;
  font-size: 1.5rem;
}

ul.menu{
  @extend .ulstyle;
  li{
    @extend .listyle;
    a{
          text-decoration: none;
          color:#fff;
          padding:5px 10px;
          img{
            width:30px;
          }
        }
    a:hover{
          cursor: pointer;
          color: #E53935;
    }
  }

}
ul.datemenu{
  @extend .ulstyle;
  li{
    @extend .listyle;
    img{
      width:30px;
    }
  }
}


h1{
  font-size: 5rem;
}
h2{
  font-size: 4rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.5rem;
}
p{
  font-size: 2rem;
}



.lay{
    position: absolute;
    top:0;
    left:0;
    min-height: 100vh;
    width:100%;
    background-position: fixed;
    background-size: cover;
}
.overlay{
    @extend .lay;
    z-index: -1;
    background: rgba(0,0,0,.7);
}
.front{
    @extend .lay;
    z-index: -2;
    background-image: url('../images/a1.jpg');
}
.back{
    @extend .lay;
    z-index: -3;
    background-image: url('../images/a2.jpg');
}

a.button{
    @extend .trans;
    background-color: #E53935;
    -moz-box-shadow: -3px 3px 5px 1px rgba(0,0,0,.3);;
    -webkit-box-shadow: -3px 3px 5px 1px rgba(0,0,0,.3);;
    box-shadow:-3px 3px 5px 1px rgba(0,0,0,.3);
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
}
a.button:hover{
    background: #dd201c;
}

.loginpage{
  min-height: 100vh;
  padding-top: 75px;
  background-image:url('../images/pattern.png');

}

.table{
  tbody{
    tr{
      td{
        vertical-align: middle;
      }
    }
  }

}

.fic{
  position: relative;
  &:before{
    position: absolute;
  }
}

.articles{
  padding-top: 70px;
}

.card{
  border: 1px solid rgb(136, 127, 130);
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
  background: #AC4D63;
  color:#fff;
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  .small{
    font-size: 2rem;
    width:20px;
    height: 20px;
    color:#fff;
    &:before{
      top:0px;
      left:5px;
    }
  }
  .auth{
    font-size: 1rem;
    width:15px;
    height:15px;
    color:#fff;
    &:before{
      top:0px;
      left:5px;
    }
  }
}




@media (min-width:768px) {
  /* Wrappers */
  .wrapper {
	padding-left: 225px;
  }
  .page-wrapper {
	padding: 15px 25px;
  margin-top: $navbar-height;
  }

  /* Side Nav */
  .side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: $navbar-height;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #272A33;
	overflow-y: auto;
  }

  /*menu overrides*/
  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #191A1F;
  }
  .side-nav>li>a {
	width: 225px;
  }
  /* Nav Messages */
  .messages-dropdown .dropdown-menu {
	min-width: 300px;
  }
  .messages-dropdown .dropdown-menu li a {
	white-space: normal;
  }
  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}


/*************************  Markit Up *********************/


.glyphicon-button1:before{
content: "\e180 1";
}

.glyphicon-button2:before{
	content: "\e180 2";
}
.glyphicon-button3:before{
	content: "\e180 3";
}
.glyphicon-button4:before{
	content: "\e180 4";
}
.glyphicon-button5:before{
	content :"\e055";
}

.glyphicon-button6:before{
	content:"\e048"
}
.glyphicon-button7:before{
	content:"\e049"
}
.glyphicon-button8:before{
	content:"\e255"
}
.glyphicon-button9:before{
	content:"\e256"
}

.glyphicon-button10:before{
	content:"\e056"
}

.glyphicon-button11:before{
	content:"\e056"
}

.glyphicon-button12:before{
	content:"\e060"
}

.glyphicon-button13:before{
	content:"\e144"
}

.glyphicon-button14:before{
	content:"\e162"
}

.glyphicon-button15:before{
	content:"\e013"
}



.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	margin:5px 0 5px 0;
	border:1px solid #FFFFF;
}
.markItUpContainer  {

	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	padding:3px;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	height: 375px;
	margin:5px 0;
        margin-top: 44px;
	border: none;
	width: 100%;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader{
	margin-bottom: 5px;
}
.markItUpHeader ul li	{
	list-style:none;
	display: inline-block;
}


.markItUpHeader ul a {
	display:block;
	background-repeat:no-repeat;
	padding:5px;
	margin:0px;
}

/****************************/


/* preview */

.preview{
  padding: 50px 25px;
  text-align: center;
  img{
    display: inline-block;
    max-width: 100%;
    margin: 20px 0px;
  }
  h1,h2,h3,h4{
    text-align: left;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3.5rem;
  }
  h3{
    font-size: 3rem;
  }
  h4{
    font-size: 2.5rem;
  }
  p{
    text-align: justify;
    font-size: 2rem;
  }
}

.logheader{
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top:0;
  $bg :  #5F5F5F;
  background-color: $bg;
  @include boxshadow(2px,2px,10px,1px);
  z-index: 1500;

  ul{
    list-style: none;
    float: right;
    margin: 0px 0px;
    li{
      display: inline-block;
      a{
        display: block;
        padding: 8px 10px;
        height: 50px;
        line-height: 50px - 10px;
        color:#fff;
        text-decoration: none;
        &:hover{
          background-color: darken($bg, 10%);
        }
      }
    }
  }

}
.logpad{
  margin-top: 50px;
}
.logheader + .slc{
  margin-top: 50px;
}



@media screen and (max-width: 400px){


}
